@import "@cloudscape-design/global-styles/index.css";

:root {
  --font-family-base-gmnpzl: var(--font-amazon-ember), "Amazon Ember",
    "Helvetica Neue", Roboto, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

[class*="awsui_dropdown-content"]:has([aria-label="Select region"]) {
  min-width: 340px;
}

[aria-label="Select region"] [class*="awsui_menu-item"] {
  white-space: nowrap;
}
